*,
*:after,
*::before {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
htnl {
	font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
	font-size: 62.5%; /* hack for using decimal values for rem similar to the real values ex: 12px = 1.2rem , we can change this value to resize up or down the size of all  the text  in the page*/
}

body {
	font-size: 12px;
	font-size: 1.2rem;
	margin: 0;
	padding: 0px;
	/* for smooth font-size animation */
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;	
	background-color: black;
  color:#fff;
}

.page { text-align:center; padding:20px;}
.block1 {
	background-color: #4ECDC4;
	position: relative;
	width: 100%;
}
.block2 {
	background-color: #051F1D;
	position: relative;
	width: 100%;
}
.block3 {
	background-color: #41C289;
	position: relative;
	width: 100%;
}
.block4 {
	background-color: #0099AA;
	position: relative;
	width: 100%;
}
.block5 {
	background-color: #E74C3C;
	position: relative;
	width: 100%;
}
.block6 {
	background-color: #BADA55;
	position: relative;
	width: 100%;
}
.height-block {
	height: 1400px;
}






